body{
	background-image:  url(background.jpg) ;
	background-size: 100%;
	
}
h1{
	text-align: center;
}
#clock {
	position: relative;
	margin: auto;
	height: 20vw;
	/*to make the height and width responsive*/
	width: 20vw;
	background: url(Clock.png) no-repeat;
	/*setting our background image*/
	background-size: 100%;
}

#hourstick,
#minutestick,
#secondstick {
	position: absolute;
	background: rgb(219, 38, 38);
	border-radius: 10px;
	transform-origin: bottom;
}

#hourstick {
	width: 2%;
	height: 25%;
	top: 33%;
	left: 50%;
	opacity: 0.8;
}

#minutestick {
	width: 1.6%;
	height: 30%;
	top: 28%;
	left: 50%;
	opacity: 0.8;
}

#secondstick {
	width: 1%;
	height: 27%;
	top: 31%;
	left: 50%;
	opacity: 0.8;
}

#setter,#option{
	display: flex;
  justify-content: center;
  align-items: center;
}
#setter button{
	margin-left: 15px;
}
#option button{
	margin-left: 15px;
}
#Alarm_List{
	color: rgb(0, 0, 0);
	text-align: center;
}
#setbtn{
	background-color:black ;
	font-weight: 800;
}